.navbar-custom {
	background-color:#0B8185;
    color:#FFC48C;
  	border-radius:0;
    border-color: #fff;
}
  
.navbar-custom .navbar-nav > li > a {
  	color:#fff;
  	padding-left:20px;
  	padding-right:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
	background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #EB6841;
    
}
      
.navbar-custom .navbar-brand {
  	color:#FE980F;
}
.navbar-custom .navbar-toggle {
  	background-color:#11273E;
}
.navbar-custom .icon-bar {
  	background-color:#33aa33;
}
.span-right{
  margin-left: 75px !important;
}
.span-left{
  margin-right: 85px !important;
}
.container-content{
  margin: 10px 0;
}
.container-custom{
  margin-right: auto;
  margin-left: auto;
}
.judul{
  color: #EB6841;
}
.harga{
  color: #42B548;
}
.custom-cari{
  margin-top: 8px;
  margin-right: 0px;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);

font-family: 'Open Sans', sans-serif;

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 3000px;
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}